@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar{
  display: none;
}

.heading-font{
  font-family: "Young Serif", serif;
}

.section{
  margin: 0 4rem;
}



@media only screen and (max-width: 724px) {
  .section{
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 524px) {
  .section{
    margin: 0 1rem;
  }
}

.main-heading{
  font-size: 3rem;
  font-weight: 700;
  font-family: "Young Serif", serif;
}