.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E2E3E6; /* black */
}

.innerBox {
  width: 350px;
  padding: 20px;
  background-color: #F5F5F5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.heading {
  color: #101727; /* blue */
}

.input {
  margin-bottom: 20px;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.error {
  color: #ff0000;
}

button {
  /* width: 100%; */
  background-color: #101727; /* blue */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #999999; 
  cursor: not-allowed;
}

@media only screen and (max-width: 768px) {
  .innerBox {
    width: 90%;
  }
}
